:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none !important;
}

body {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F5F8FA;
}

.btn-custom {
    background-color: #4264FB !important;
    border-color: #4264FB !important;
    font-weight: 500;
}

.btn-custom:hover {
    background-color: #4240FB !important;
    border-color: #4240FB !important;
}

#login {
    width: 500px;
}

.botao {
    width: 100%;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    text-decoration: none;
}

#formulario {
    margin: 1rem;
    padding: 1.5rem 1rem;
    font-size: 16px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: .3rem;
    box-sizing: border-box;
    font-weight: 600;
}

.title {
    color: #363636 !important;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2;
}

#formulario label ,#formulario ::placeholder{
    font-weight: 600;
}

/* shadow */

.card-shadow-2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-shadow-3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.card-shadow-4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.card-shadow-6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.card-shadow-8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.card-shadow-16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-shadow-24dp {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.form-label-group {
    position: relative;
    margin-bottom: .6rem;
}

